<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignForm</title>
</head>
<body>
    <form th:action="@{/digital/envelope/sign}" th:method="POST">
        <!-- 서버에서 전달한 에러 메시지 표시 -->
        <div id="errorMessage" th:if="${errorMessage}" th:text="${errorMessage}" style="display: none;"></div>
        <!-- 내용 -->
        <p>원본 데이터 파일명</p>
        <input type="text" id="dataFile" th:name="dataFile" placeholder="ex. data.txt" />
        <p>데이터 내용</p>
        <input type="text" id="data" th:name="data" placeholder="ex. Patient's Medical History" />
        <p>보내는 사람의 공개키 파일명</p>
        <input type="text" id="publicKeyFile" th:name="publicKeyFile" placeholder="ex. public.key" />
        <p>보내는 사람의 개인키 파일명</p>
        <input type="text" id="privateKeyFile" th:name="privateKeyFile" placeholder="ex. private.key" />
        <p>보내는 사람의 비밀키 파일명</p>
        <input type="text" id="secretKeyFile" th:name="secretKeyFile" placeholder="ex. secret.key" />
        <p>받는 사람의 공개키 파일명</p>
        <input type="text" id="senderPublicKeyFile" th:name="senderPublicKeyFile" placeholder="ex. public.key" />
        <p>전자서명 저장할 파일명</p>
        <input type="text" id="signedFile" th:name="signedFile" placeholder="ex. signed.txt" />
        <p>보내고 싶은 파일명</p>
        <input type="text" id="sendFile" th:name="sendFile" placeholder="ex. history.txt" />
    </form>
</body>
<!-- 외부 js -->
<script th:src="@{/js/envelope/envelope.js}"></script>
</html>