<!-- 홈 화면 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- 서버에서 전달한 메시지 표시 -->
    <div id="message" th:if="${message}" th:text="${message}" style="display: none;"></div>
    <!-- 내용 -->
    <a th:href="@{/key/asymmetricForm}" class="asymmetric">비대칭키 발급</a>
    <a th:href="@{/key/symmetricForm}" class="symmetric">대칭키 발급</a>
    <a th:href="@{/digital/envelope/signForm}" class="sign">전자봉투 생성</a>
    <a th:href="@{/digital/envelope/verifyForm}" class="verify">전자봉투 개봉</a>
</body>
<!-- 외부 js -->
<script th:src="@{/js/home.js}"></script>
</html>